body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  /* 헤더 스타일링 */
  header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 0; 
    text-align: center;
    position: relative;
  }
  
  .header-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
 .header-left a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .header-center {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 75%; /* 헤더 높이의 중앙으로 이동 */
    left: 50%; /* 헤더 너비의 중앙으로 이동 */
    transform: translate(-50%, -50%); 
  }

  /* 헤더 오른쪽 버튼 그룹 스타일 */
.header-right {
    position: absolute;
    top: 10px; /* 헤더 상단으로 조정 */
    right: 10px; /* 헤더 오른쪽으로 조정 */
  }

/* 로그아웃, 회원탈퇴 버튼 스타일 */
.logout-button, .unsubscribe-button {
    background-color: #29323c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px; /* 버튼 사이 간격을 조절합니다. */
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover, .unsubscribe-button:hover {
    background-color: #2b5876;
  }
  
  /* 여행 카드 스타일링 */
  .travel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .travel-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .travel-card h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .travel-card p {
    font-size: 14px;
  }
  
  .travel-card:hover {
    background-color: #e0e0e0; /* 호버 시의 배경 색상 */
    cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
  }

  .hidden {
    display: none;
}

.travel-card .buttons button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #29323c;
  color: white;
}

.travel-card .buttons button.delete-travel {
  background-color: #29323c;
}

