body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 0; 
    text-align: center;
    position: relative;
  }
  
  .header-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
 .header-left a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .header-center {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

.header-right {
    position: absolute;
    top: 10px; 
    right: 10px;
  }


.logout-button, .unsubscribe-button {
    background-color: #29323c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover, .unsubscribe-button:hover {
    background-color: #2b5876;
  }
  
  .travel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .travel-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .travel-card h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .travel-card p {
    font-size: 14px;
  }
  
  .travel-card:hover {
    background-color: #e0e0e0; 
    cursor: pointer;
  }

  .hidden {
    display: none;
}

.travel-card .buttons button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #29323c;
  color: white;
}

.travel-card .buttons button.delete-travel {
  background-color: #29323c;
}

