body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* 옅은 회색 배경 */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff; /* 흰색 배경 */
    color: #000; /* 검은색 글자 */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.slider {
    display: flex;
    width: 200%;
    transition: transform 0.5s;
}

.slide {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s;
}

h2 {
    margin-bottom: 20px;
    text-align: center; /* 중앙 정렬 */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #000; /* 검은색 배경 */
    color: #fff; /* 흰색 글자 */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.toggle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toggle button {
    background-color: transparent;
    border: none;
    color: #000; /* 검은색 글자 */
    padding: 10px 20px;
    cursor: pointer;
}

.toggle .active {
    background-color: #000; /* 검은색 배경 */
    color: #fff; /* 흰색 글자 */
}

.welcome-message {
    text-align: center; /* 가운데 정렬 */
    color: #ccc; 
    font-weight: bold; /* 굵은 글꼴 설정 */
    font-size: 24px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    padding: 10px; 
    background-color: rgba(240, 240, 240, 0.8); 
}

